Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [4]:
d = [4,8,15,16,23,42]
s = pd.Series(d)

In [5]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
l = [1,2,3,4,5,6,7,8,9,10]
s = pd.Series(l)

In [9]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [10]:
data = {'Name' : ('alice','bob','claire'),
       'age':(25,30,27),
       'gender' : ('female','male','female')}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

     Name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a 2-dimensional labeled data structure that can store data of different types (e.g., integers, strings, floats) in columns. It is similar to a table or a spreadsheet, where each column represents a variable, and each row represents an observation. The DataFrame provides a powerful and flexible way to manipulate and analyze data.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It can be seen as a single column of a DataFrame. Each element in a Series is assigned a unique index label, which allows for easy and efficient data access and manipulation.

In [13]:
# Creating a Series
series = pd.Series([4, 8, 15, 16, 23, 42])
print("Series:")
print(series)
print()

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3     Dave   40     Tokyo

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some commonly used functions:

head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and contents of a DataFrame.

info(): This function provides a summary of the DataFrame, including the number of non-null values, data types of columns, and memory usage. It is helpful for understanding the data types and identifying missing values.

describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles, for each numeric column. It provides a quick overview of the distribution of the data.

shape: This attribute returns a tuple representing the dimensions (rows, columns) of the DataFrame. It is useful for checking the size of the DataFrame.

unique(): This function returns the unique values present in a column of the DataFrame. It can be used to identify the distinct categories or classes in a categorical column.

value_counts(): This function counts the occurrences of unique values in a column and returns the result as a Series. It helps in understanding the distribution of categorical data.

sort_values(): This function sorts the DataFrame based on one or more columns. It is handy for arranging the data in ascending or descending order, which can be useful for analysis or presentation purposes.

groupby(): This function allows you to group the data based on one or more columns and perform aggregate operations on the grouped data. It is useful for computing statistics or applying functions to specific groups within the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, both Series and DataFrame are mutable in nature, while Panel is not.

Series: A Series is mutable, meaning you can modify its values, add or remove elements, and update its index labels. You can change specific values within a Series by assigning new values to them.

DataFrame: Similar to a Series, a DataFrame is also mutable. You can modify the values in its columns, add or remove columns, and update the index and column labels. You can change values within a DataFrame by accessing specific cells, rows, or columns and assigning new values to them.

Panel: In contrast, a Panel is not mutable. It is a 3-dimensional data structure that can hold multiple DataFrames. However, since pandas version 0.20.0, Panels have been deprecated, and it is recommended to use other data structures like MultiIndex DataFrames or xarray instead.

So, to summarize, Series and DataFrame are mutable in pandas, while Panel is not recommended for use and is not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Creating a DataFrame from the Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris